ul.topics {
  list-style: none;
  padding: 0;
}

ul.topics > li {
  border-left: 1px solid #cccccc;
  margin-left: 0.5em;
  margin-bottom: 0.25em;
}

ul.messages {
  list-style: none;
  margin-left: 2em;
  max-height: 500px;
  overflow-y: auto;
  padding: 0;
}

ul.messages > li {
  margin-bottom: 1em;
}
