ul.topics {
  list-style: none;
  padding: 0;
}

ul.topics > li {
  border-left: 1px solid #cccccc;
  margin-left: 0.5em;
}

ul.messages {
  list-style: none;
  margin-left: 2em;
  max-height: 500px;
  overflow-y: auto;
  padding: 0;
}

ul.messages > li {
  margin-bottom: 1em;
}

ul.messages > li > .message-meta {
  color: #333;
  font-size: 10pt;
  margin: 0.25em 0;
}

ul.messages > li > pre {
  background-color: #eee;
  margin: 0;
  max-height: 200px;
  overflow: auto;
  padding: 1em;
}
