.App {
  padding: 1em;
}

.clear {
  clear: both;
}

.toggler {
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  left: -0.5em;
  position: relative;
  text-align:center;
  width: 1em;
}

.indicator {
  display: inline-block;
  margin-right: 0.25em;
}

.indicator.indicator-on {
  color: #0f0;
}

.indicator.indicator-off {
  color: #f00;
}

ul.sessions {
  padding: 0;
}

ul.sessions > li {
  border-left: 1px solid #000;
  list-style-type: none;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

.session-details {
  margin-left: 2em;
}

.session-details > .topics-container > h4 {
  margin: 0.5em 0;
  font-size: 14px;
  font-weight: bold;
}

ul.topics {
  padding: 0;
}

ul.topics > li {
  border-left: 1px solid #000;
  list-style-type: none;
  margin-left: 0.5em;
}

ul.messages {
  padding: 0;
  margin-left: 2em;
  max-height: 500px;
  overflow-y: auto;
}

ul.messages > li {
  list-style-type: none;
  margin-bottom: 1em;
}

ul.messages > li > .message-meta {
  color: #333;
  font-size: 10pt;
  margin: 0.25em 0;
}

ul.messages > li > pre {
  background-color: #eee;
  margin: 0;
  max-height: 200px;
  overflow: auto;
  padding: 1em;
}
